In [4]:
person = {
    "first": "Corey",
    "last": "Schafer",
    "email": "CoreyMSchafer@gmail.com"
}

In [5]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"]
}

In [8]:
import pandas as pd

people_df = pd.DataFrame(people)
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [9]:
people_df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [12]:
print(type(people_df))
print(type(people_df['email']))
print(type(people_df[['first', 'last']]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [13]:
people_df.columns

Index(['first', 'last', 'email'], dtype='object')

In [20]:
# index locate func
# people_df.iloc[0]
people_df.iloc[[0, 1], 2] # get first and second rows, and get the 3 column

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [22]:
# locate func (with index labels)
# people_df.loc[0:1]
people_df.loc[0:1, ['first', 'last']] # use labels to find data

   first     last
0  Corey  Schafer
1   Jane      Doe